NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app
NEXT_PUBLIC_ARC_VOUCHER_STORE_ADDRESS=0x7fe4C334670BE2fe5Fe840809E45ddB1b23b436c
NEXT_PUBLIC_ARCVOUCHER_BACKEND_URL=http://127.0.0.1:4000
NEXT_PUBLIC_ORDER_HISTORY_LOOKBACK_BLOCKS=250000
