ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_VOUCHER_STORE_ADDRESS=0x7fe4C334670BE2fe5Fe840809E45ddB1b23b436c
ARC_VOUCHER_INTENT_PAYMENT_RECEIVER_ADDRESS=0xcE74549774a6fe45A2a6A6D04daBaeF29dFe1971
FULFILLER_PRIVATE_KEY=
PORT=4000
FRONTEND_ORIGIN=http://127.0.0.1:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
VOUCHER_DATA_DIR=./data
ORDER_HISTORY_LOOKBACK_BLOCKS=250000
ARC_VOUCHER_START_BLOCK=
ARC_GATEWAY_ADDRESS=0x0022222abe238cc2c7bb1f21003f0a260052475b
ARC_NATIVE_USDC_ADDRESS=0xfffffffffffffffffffffffffffffffffffffffe
